<a href="https://colab.research.google.com/github/Chifu1001/WorldBank/blob/master/Handling_Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nf1_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Practice_Data_Cleaning/NFL Play by Play 2009-2017 (v4).csv')
sf_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Practice_Data_Cleaning/Building_Permits.csv')

In [ ]:
# set seed for reproducivility

np.random.seed(0)

In [ ]:
# look at a few rows of the nf1_data file randomly

nf1_data.sample(5)

# Explore Missing Values

In [ ]:
# get the number of missing data points per colum

missing_value_count = nf1_data.isnull().sum()
print(missing_value_count)

Date             0
GameID           0
Drive            0
qtr              0
down         61154
             ...
Win_Prob     25009
WPA           5541
airWPA      248501
yacWPA      248762
Season           0
Length: 102, dtype: int64

In [ ]:
# how many total missing values do we have?

total_cells= np.product(nf1_data.shape) # total rows
total_missing = missing_value_count.sum() # total missing values

# percent of data that is missing

total_missing / total_cells * 100

24.87214126835169

Insights: Almost a quarter of the cells in the dataset is empty

In [ ]:
# see the columns with missing values

nf1_data[nf1_data.isnull()]

# Why the data is missing

**Is this value missing because it wasn't record or because it doesn't exist?**



*   It doesn't exist -> keep as NaN
*   It wasn't recorded -> try to guess (imputation)

# Methond 1: Dropping missing value

In [ ]:
# drop rows ANY columns have missing value

nf1_data.dropna(how='any').shape

# drop rows if ALL of its values are missing

nf1_data.dropna(how='all').shape

# drop a row if EITHER airWPA or yacWAC reported are missing
nf1_data.dropna(subset=['airWPA', 'yacWAC'], how= 'any').shape

In [ ]:
nf1_data['down'].value_counts(dropna=False)

1.0    138878
2.0    104089
3.0     67398
NaN     61154
4.0     36169
Name: down, dtype: int64

# Filling in missing values automatically

In [ ]:
# get a small subset of the data so that it will print well

subset_nf1_data = nf1_data.loc[:, 'EPA':'Season'].head()
subset_nf1_data

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474       NaN       NaN  ...       NaN       NaN    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760       NaN       NaN  ...       NaN       NaN    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796       NaN       NaN  ...       NaN       NaN    2009

[5 rows x 12 columns]

In [ ]:
# replace with 0

subset_nf1_data.fillna(0)

# replace with values

subset_nf1_data[]